# Project exclude paths
/.gradle/
/build/
/build-logic/.gradle/
/build-logic/build/
/common/build/
/common/build/classes/java/main/
/nms/v1_19_R2/.gradle/
/nms/v1_19_R2/build/
/nms/v1_19_R2/build/classes/java/main/
/remapping/.gradle/
/remapping/build/